* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {}

.wrapper {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: solid #5B6DCD 10px;
    align-items: center;
}

.wrapper__counter {
    margin: 0 auto;
    width: 100px;
    height: 50px;
}

.wrpapper-button {
    width: 100px;
    height: 50px;
}